body{
    background-image: url('../images/rentbg.jpg');
}
button.d-inline-flex.align-items-center.btn.btn-primary.btn-lg.px-4.rounded-pill{
    background-color: green !important;
}
.flexCenter{
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  .form-signin {
    padding: 5px;
    width: 500px;
    
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin .middle{
    margin-top: -1px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  
    .content{
      display: flex;
    }
    button{
      background-color: green !important;
    }
    .navigation{
      background-color: blue !important;
      border-radius: 20px;
    }
  .p-5.mb-4.rounded-3 .container-fluid.py-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
  form{
    margin-top: 20px;
  }